/* body{
    margin: 0;
/* margin-top: 0;
margin-right: 0;
margin-left: 0;
margin-bottom: 0; 
}
ul{
    padding: 0;
} */
/* Reset CSS brower default */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 12px;
    font-family: "Oswald", sans-serif;
}

.py-5 {
    padding: 5rem 0;
}

.container {
    width: 80%;
    margin: 0px auto;
}

header {
    /* background-color: rgb(21, 255, 0); */
    /* padding: 30px; */
    /* display: flex;
    justify-content: space-between; */
    position: absolute;
    /* Biến Headder Sang inline*/
    width: 100%;
    border-bottom: 2px solid #ffffff14;
}

.header__content {
    /* width: 80%;
    /* margin-right: auto;
    margin-left:auto;
    margin: 20px auto;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand i,
.brand span {
    font-size: 3rem;
}

.brand {
    text-decoration: none;
    color: white;
}

/* .brand span{
    font-size: 3rem;
} */
.Menu li {
    display: inline;
    margin-left: 1rem;

}

.Menu li a {
    text-decoration: none;
    color: white;
    font-size: 1.15rem;
    transition: all 1s;
    /*chuyển màu hover*/
}

.Menu li.Active a {
    color: red;

}

.Menu li a:hover {
    color: red;
}

.Carousel {
    background-image: url("../img/home_slider.jpg");
    height: 700px;
    background-repeat: no-repeat;
    /* Không lặp lại background*/
    background-size: cover;
    /* full bề ngang*/
    background-position: center;
    /* đưa hình vào giữa màn hình*/
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.carousel__content {
    color: white;
}

.carousel__content h1 {
    font-size: 25px;
    text-align: center;
}

.carousel__content p {
    text-align: center;
    font-size: 75px;
    font-weight: bold;
}

.carousel__content button {
    background-color: #e62b4a;
    /* Style Chữ*/
    color: white;
    text-transform: uppercase;
    /* in hoa*/
    font-weight: bold;
    /* in đậm*/
    font-size: 12px;
    /* Style Button*/
    border: #e62b4a solid 1px;
    padding: 0.5rem 2rem;
    cursor: pointer;
    /* Rê chuột vào nút hiện bàn tay thẻ  <a> mặc định có*/
}

.carousel__content button:hover {
    background-color: #af2239;
    transition: all 1s;
}

.arrow__down {
    margin-top: 1rem;
}

.Services {
    background-color: black;

}

.title {
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}

.title p:first-child {
    color: red;

}

.title p:last-child {
    color: gray;
    font-size: 1.5rem;
    margin: 1.25rem;

}

.title h1 {
    font-size: 3rem;
}

/* .title p:nth-child(x){}  nếu nhiều thẻ p*/
.services__slider {
    /* background-color: white; */
    display: flex;
    align-items: center;
    text-align: center;

}

.services__slider .item {
    background-color: white;
    width: 214px;
    height: 230px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* canh ngang vào giữa */
    flex-direction: column;
    /* cho các item thành 1 cột */
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    /* giới hạn position::affter/before */
}

.item p {
    padding-top: 10px;
}

.services__slider .item::after {
    content: "";
    width: 5px;
    height: 0;
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
}

.services__slider .item:hover::after {
    height: 100%;
}

/* thêm 1 thẻ element vào item before bắt đầu item/ affter kết thúc item */



.slick-dots li.slick-active button:before {
    opacity: .75;
    color: red;
}

.slick-dots li button:before {
    color: white;
}

/* BLOG */
.Blog .title p:first-child {
    color: gray;
}

.Blog .title p:nth-last-child(2) {
    font-weight: bold;
}

.Blog .title h1 {
    color: black;
}

/* .text-gray {
    color: grey; !important
} có !important là ưu tiên cao nhất */

.blog__content {
    display: grid;
    gap: 1.5rem;
    /* Cách đều các ảnh trong lưới  */
    grid-template-columns: repeat(4, 1fr);
    /* tạo 4 cột mỗi cột rộng bao nhiêu*/
}

.blog__content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*cân đối hình tránh méo */
    filter: contrast(50%);
    /*làm mờ */
}

/* 2 class cách nhau là cha con, ngang cấp */
.blog__item {
    position: relative;
}

.blog__item.item-1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.blog__item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #af223954;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.blog__item:hover .overlay {
    opacity: 1;
    transition: all 1s;
}

.blog__item.item-10 {
    grid-column: 3 /span 2;
    grid-row: 3/ span 2;
}

.blog__item .overlay__icon {
    position: absolute;
    top: 1rem;
    right: 2rem;
}

.overlay__icon i {
    background-color: white;
    padding: 0.4rem;
    transform: translateY(50px);
    transition: all 0.5s;
}

.blog__item:hover .overlay__icon i {
    transform: translateY(0);
}

.blog__item .overlay__text {
    position: absolute;

    /* background-color: white; */
    bottom: 10px;
    left: 10px;
    transform: translateY(50px);
    transition: all 1s;
}

.blog__item:hover .overlay__text {
    transform: translateY(0);
}

.blog__item .overlay__text p {
    font-size: 3rem;
    color: white;
    font-weight: bold;
}

.counter {
    background-color: black;
}

.counter__content {
    display: flex;
    justify-content: space-around;
}

.counter__content p {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.counter__content h2 {
    color: gray;
    font-size: 2rem;
}

.Digital {
    background-image: url(../img/bussiness_img_1.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.digital__content video {
    width: 100%;
}

.contact__content {
    display: flex;

}

.contact__map {
    width: 60%;
}

.contact__from {
    width: 40%;
    padding-left: 1rem;

}

.contact__from input,
.contact__from textarea {
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.7rem;
}
.contact__from input[type="submit"]
{
background-color: black;
color: white;
text-transform: uppercase;
border: none;
padding: 1rem 0;
cursor: pointer;
margin-bottom: 0;
}
.contact__from input[type="submit"]:hover
{
    background-color: #e62b4a;
    transition: all 1s;
}